#hero {
  background:
    linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0.5)),
    url('../img/blog-1.jpeg')
    ;
  background-position: center;
  background-size: cover;
  align-items: flex-end;
}

#hero .hero-text {
  color: #fff;
  width: 50%;
  height: 50%;
  padding: 2em;
}
