@import "typography.css";
@import "header.css";
@import "blog.css";
@import "hero.css";
@import "posts.css";
@import "footer.css";

:root {
  --primary-bright: #e23e65;
  --primary-dark: #8d273f;
  --secondary-bright: #eecd07;
  --secondary-dark: #b39a05;
  --neutral-light: #fff;
  --neutral-mid: #6d767a;
  --neutral-dark: #15242b;
}

body {
  margin: 0;
}

#home, #blog, #post {
  scroll-behavior: smooth;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(5, 1fr); */
  /* grid-template-rows: 1fr repeat(3, minmax(calc(100vh - 99.88px)) 1fr) 1fr; */
  grid-template-areas:
    "header"
    "hero"
    "posts"
    "authors"
    "footer";
}

#header-main, #hero, #recent-posts, #authors, #footer-main {
  display: flex;
}

#hero, #recent-posts, #authors {
  min-height: calc(100vh - 99.88px);
}

#header-main {
  grid-area: header;
}

#hero {
  grid-area: hero;
}

#recent-posts {
  grid-area: posts;
}

#authors {
  grid-area: authors;
}

#footer-main {
  grid-area: footer;
}

.button {
  padding: 1em 2em;
  border-radius: 5px;
  border-color: rgba(0,0,0,0);
  text-decoration: none;
  display: inline-block;
  margin: .5em 0;
}

a.button-primary, button.button-primary {
  background-color: var(--primary-bright);
  color: var(--neutral-light);
}

a.button-primary:hover, button.button-primary:hover {
  background-color: var(--primary-dark);
  transition: .3s;
}

a.button-secondary, button.button-secondary {
  background-color: var(--secondary-bright);
  color: var(--neutral-dark);
}

a.button-secondary:hover, button.button-secondary:hover {
  background-color: var(--secondary-dark);
  color: var(--neutral-light);
  transition: .3s;
}
