@font-face {
  font-family: 'Lora Serif';
  src: url('../fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Lora Italic';
  src: url('../fonts/Lora-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

body {
  font-family: 'Quicksand';
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora Serif', serif;
}

h1 {
  font-variation-settings: 'wdth' 400, 'wght' 800;
}

h2 {
  font-variation-settings: 'wdth' 400, 'wght' 600;
}

h3 {
  font-variation-settings: 'wdth' 400, 'wght' 500;
}

p a {
  text-decoration: underline;
}

a {
  color: var(--primary-bright);
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
  transition: .3s;
}
